/* generics */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
   }

/* utils */
.body-container{
    max-width: 1100px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.cards-container{
    padding-left: 35px;
}

/* intestazione */
header{
    height: 100px;
    margin-bottom: 120px;
    text-align: center;
}

h1{
    color: #E53270;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-paragraph{
    font-weight: 400;
}

/* corpo */
.card{
    background-color: black;
    width: calc(1000px / 3);
    float: left;
    margin: 5px 5px 10px 5px;
}

.card-image{
    width: 100px;
    float: left;
}

.info{
    padding-left: 10px;
    float: left;
}

.card-name, .card-profession, .card-email{
    color: white;
    font-size: 14px;
    margin-bottom: 7px;
}

.card-email{
    color: deepskyblue;
    text-decoration: none;
}

