/* generics */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
   }

/* utils */
.body-container{
    max-width: 900px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* intestazione */
header{
    margin-bottom: 50px;
}

h1{
    color: #E53270;
    text-align: center;
    font-weight: 700px;
}

.header-paragraph{
    font-weight: 400px;
    text-align: center;
}

/* corpo */
.card{
    background-color: black;
    width: 300px;
    height: 100px;
    float: left;
}

.card-image{
    width: 100px;
    float: left;
}

.info{
    padding-left: 10px;
    float: left;
}

.card-name, .card-profession, .card-email{
    color: white;
    font-size: 0.8rem;
    margin-bottom: 7px;
}

.card-email{
    color: deepskyblue;
    text-decoration: none;
}

