/* generics */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
   }

/* utils */

/* intestazione */
h1{
    color: #E53270;
    text-align: center;
    font-weight: 700px;
}